option_settings:
  - option_name: DJANGO_SETTINGS_MODULE
    value: settings.dev
  - option_name: DJANGO_DB_DEV_HOST
    value: spitch-dev.cw2dxsgsldpl.eu-west-1.rds.amazonaws.com
  - option_name: DJANGO_DB_DEV_PORT
    value: 5432
  - option_name: DJANGO_DB_DEV_NAME
    value: spitchdev
  - option_name: DJANGO_DB_DEV_USER
    value: spitch
  - option_name: DJANGO_DB_DEV_PASSWORD
    value: f9nM8V5d9zmp
  - option_name: AWS_ACCESS_KEY_ID
    value: AKIAIONXDPSROAY5BHDQ
  - option_name: AWS_SECRET_ACCESS_KEY
    value: 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
  - option_name: AWS_DEFAULT_REGION
    value: eu-west-1